@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap');

body {
    background-color: #090715;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 8vw;
    position: relative;
    bottom: 3vh;
}

.menu {
    position: relative;
    top: 1vh;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 50px;
}

.menu ul li a {
    display: block;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background: rgb(47, 51, 57);
    background: linear-gradient(144deg, rgba(47, 51, 57, 1) 12%, rgba(9, 7, 21, 1) 54%);
    border-radius: 15px 15px 15px 15px;
    transition: transform 0.3s ease-in-out;
}

.menu ul li a:hover {
    transform: translateX(10px);
}

.about-us-summary {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-us-summary .circle-img img {
    background: rgb(47, 51, 57);
    background: linear-gradient(144deg, rgba(47, 51, 57, 1) 12%, rgba(9, 7, 21, 1) 54%);
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.circle-img:hover img {
    transform: scale(1.02);
}

.about-us-summary,
text-about-us-summary,
p,
h1 {
    color: white;
    text-align: center;
}

.text-about-us-summary h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.text-about-us-summary span {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #7255ab, 0 0 30px #7255ab, 0 0 40px #7255ab, 0 0 50px #7255ab, 0 0 60px #7255ab, 0 0 70px #7255ab;
}

.text-about-us-summary p {
    position: relative;
    bottom: 3vh;
}

.line {
    border: none;
    height: 0.3vh;
    background: linear-gradient(to right, #7733FF 70%, #350490 30%);
    width: 90vw;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-us .square-img img {
    border-radius: 5%;
    background: rgb(47, 51, 57);
    background: linear-gradient(144deg, rgba(47, 51, 57, 1) 12%, rgba(9, 7, 21, 1) 54%);
    transition: transform 0.5s ease-in-out;
}

.square-img:hover img {
    transform: scale(1.02);
}

#title-about-us {
    color: white;
    text-align: left;
    font-size: 50px;
    text-transform: uppercase;
}

#text-about-us {
    color: white;
    text-align: left;
    font-weight: bolder;
}

.circles-company {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mission p,
.vision p,
.values p {
    position: relative;
    bottom: 25vh;
    font-weight: bolder;
}

.mission img,
.vision img,
.values img {
    position: relative;
    bottom: 10vh;
    transition: transform 0.5s ease-in-out;
}

.mission:hover img,
.vision:hover img,
.values:hover img {
    transform: scale(1.0);
}

.mission h1,
.vision h1,
.values h1 {
    text-transform: uppercase;
}

.mission img {
    position: relative;
    bottom: 13vh;
}

.vision img {
    position: relative;
    bottom: 10vh;
}

.values img {
    position: relative;
    bottom: 7vh;
}

.line-vertical {
    border: none;
    height: 72vh;
    background: linear-gradient(to bottom, #7733FF 70%, #350490 30%);
    width: 0.1vw;
    position: relative;
    bottom: 5vw;
}

.title-project h1 {
    /* text-shadow: 0 0 10px #ffffff, 0 0 20px #7255ab, 0 0 30px #7255ab, 0 0 40px #7255ab, 0 0 50px #7255ab, 0 0 60px #7255ab, 0 0 70px #7255ab; */
    text-align: left;
    padding-left: 4.5vw;
}

.content-projects {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.img-projects-square img {
    border-radius: 5%;
    background: rgb(47, 51, 57);
    background: linear-gradient(144deg, rgb(32, 34, 36) 12%, rgba(9, 7, 21, 1) 40%);
    padding: 25% 5% 40% 5%;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.img-projects-square:hover img {
    transform: scale(1.03);
}


.title-squad h1 {
    /* text-shadow: 0 0 10px #ffffff, 0 0 20px #7255ab, 0 0 30px #7255ab, 0 0 40px #7255ab, 0 0 50px #7255ab, 0 0 60px #7255ab, 0 0 70px #7255ab; */
    text-align: right;
    padding-right: 4.5vw;
}

.text-projects p {
    font-weight: bolder;
    text-align: left;
    font-size: 15px;
}

.text-projects h1 {
    text-align: left;
}

.title-contact h1 {
    /* text-shadow: 0 0 10px #ffffff, 0 0 20px #7255ab, 0 0 30px #7255ab, 0 0 40px #7255ab, 0 0 50px #7255ab, 0 0 60px #7255ab, 0 0 70px #7255ab; */
    text-align: left;
    padding-left: 4.5vw;
}

#slider {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#slider img {
    opacity: 0;
    width: 10vw;
    object-fit: cover;
    transition: opacity 800ms;
    border-radius: 20%;
}

#slider img.selected {
    opacity: 1;
}

#slider figure {
    position: relative;
}

#slider figcaption {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: opacity 800ms;
    color: white;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#slider figcaption.selected {
    opacity: 1;
}

#title-squad {
    /* text-shadow: 0 0 10px #ffffff, 0 0 20px #7255ab, 0 0 30px #7255ab, 0 0 40px #7255ab, 0 0 50px #7255ab, 0 0 60px #7255ab, 0 0 70px #7255ab; */
}

.contact-image img {
    background: rgb(47, 51, 57);
    background: linear-gradient(144deg, rgb(32, 34, 36) 12%, rgba(9, 7, 21, 1) 40%);
    width: 25vw;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.contact-image:hover img {
    transform: scale(1.03);
}

.contact-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-fields input[type="text"],
.contact-fields input[type="email"],
.contact-fields textarea {
    width: 100%;
    padding: 2%;
    margin-bottom: 10px;
    background: rgb(47, 51, 57);
    background: linear-gradient(144deg, rgb(32, 34, 36) 12%, rgba(9, 7, 21, 1) 40%);
    color: #ffffff;
    border-radius: 5px;
}

.contact-fields textarea {
    height: 150px;
}

.contact-submit button {
    background: rgb(47, 51, 57);
    background: linear-gradient(144deg, rgb(32, 34, 36) 12%, rgba(9, 7, 21, 1) 40%);
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: bolder;
    position: relative;
    left: 12.3vw;
    width: 10vw;
    height: 5vh;
    border-radius: 5px
}

.footer {
    background-color: #0f0f13 !important;
    color: #fff;
    padding: 2%;
    display: flex;
    align-items: center;
}

.image-footer img {
    width: 10vw;
}

.titles-footer {
    display: flex;
    gap: 5rem;
    position: relative;
    left: 5vw;
}

.titles-footer h1 {
    font-size: 18px;
}

.titles-footer a {
    text-decoration: none;
}

.social-medias {
    display: flex;
    gap: 0.5rem;
}

.social-medias img {
    width: 2vw;
    position: relative;
    top: 10vh;
    left: 35vw;
}

.seta-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #b300ff, #2a0256);
    animation: neon 1.5s infinite alternate;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes neon {
    0% {
        background: linear-gradient(135deg, #b300ff, #2a0256);
    }

    100% {
        background: linear-gradient(135deg, #2a0256, #b300ff);
    }
}

.mostrar-seta {
    display: block;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2a0256;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2b0256c3;
  }